# Python / UV
.venv/
__pycache__/
*.pyc
*.pyo
.mypy_cache/
.ruff_cache/
dist/
*.egg-info/
*.pytest_cache/

# Node
node_modules/
dist/
.env
.env.local
.env.production.local

# VSCode
.vscode/

# MacOS
.DS_Store
*.log
